@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 38px;
    color: #212931;
    background-color: rgba(70,75,90,.6);
    background-blend-mode: lighten ;
}

.heading1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 80px;
    line-height: 80px;
    color: #ffffff;
    text-transform: uppercase;
}

.heading2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 64px;
    line-height: 70.4px;
    color: #212931;
}

.heading3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12.8px;
    line-height: 19.2px;
    color: #717981;
}

.mainContainer {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* heroSec */

.bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -10;
}

.heroSecP {
    color: #ffffff;
    font-style: italic;
}

.arrow {
    border: 2px solid white;
    border-radius: 100%;
    padding: 15px;
}

/* heroSec */

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(70,75,90,.6);
    width: 100%;
}

.navIcon img {
        /* -webkit-filter: invert(100%); safari 6.0 - 9.0 */
    filter: invert(100%);
    width: 48px;
    height: 48px;
}

