@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 38px;
    color: #212931;
    background-color: rgba(70,75,90,1);
    /* z-index: -2; */
}

.heading1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 80px;
    line-height: 80px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.heading2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 64px;
    line-height: 70.4px;
    color: #212931;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
}

.heading3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12.8px;
    line-height: 19.2px;
    color: #717981;
    text-transform: uppercase;
}

.mainContainer {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.button {
    border: 2px solid black;
    padding: 10px 30px;
    color: black;
}

/* heroSec */

.bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: -10;
}

.heading {
    margin-top: 140px;
    max-width: 40%;
}

.heroP {
    max-width: 70%;
}

.heroSecP {
    color: #ffffff;
    font-style: italic;
    text-align: center;
}

.arrow {
    border: 2px solid white;
    border-radius: 100%;
    padding: 15px;
}

/* heroSec */

/* blogSec */

.blogContent {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    background-color: rgba(68,73,80,.2);
    width: 100%;
    z-index: 1;
    height: 50px;
}

.h1White {
    background-color: #ffffff;
    padding: 16px 25px;
}

.h1White .heading3 {
    color: #000000;
}

.blogh3 {
    padding: 25px 25px;
    color:#ffffff;
}

.navIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: absolute;
    right: 25px;
    margin: 10px;
}

.navIcon img {
    /* -webkit-filter: invert(100%); safari 6.0 - 9.0 */
    filter: invert(100%);
    width: 18px;
    height: 18px;
}

.blogs {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

/* bigBlog  */

.bigBlog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 70px 0;
}

.date {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line {
    height: 2px;
    width: 200%;
    background-color: #eeeeee;
    position: absolute;
}

.l1 {
    right: -230%;
}

.l2 {
    left: -230%;
}



.bigBlog img {
    width: 80%;
}

.blogDesc {
    text-align: center;
    width: 50%;
    font-style: italic;
}

    /* bigBlog  */

    /* allBlogs */

.allBlogs {
    display: flex;
    flex-wrap: wrap;
}

.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #eeeeee;
    width: 50%;
    gap: 20px;
    padding: 40px 0;
    box-sizing: border-box;
}

.smBlogHeading {
    width: 50%;
}

.blog .heading2 {
    font-size: 28px;
    line-height: 36px;

}

.smImg {
    width: 85%;

}

.smBlogDesc {
    width: 85%;
}

    /* allBlogs */

    /* page */

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.page {
    border: 2px solid #eeeeee; 
    padding: 10px 15px;
}

.fpage {
    background-color: #eeeeee;
}

.dot .heading3{
    color: #eeeeee;
}

    /* page */

/* blogSec */
