@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 38px;
  color: #212931;
  background: url("./assets/images/bg.jpg") center top;
  /* background-color: rgba(70, 75, 90, 1); */
  position: relative;
  /* top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
}

.heading1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 80px;
  line-height: 80px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.heading2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 64px;
  line-height: 70.4px;
  color: #212931;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
}

.heading3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12.8px;
  line-height: 19.2px;
  color: #717981;
  text-transform: uppercase;
}

.mainContainer {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background-color: rgba(49, 55, 65, .9);
  position: absolute;
    top: 0;
    left: 0;
}

.button {
  border: 2px solid black;
  padding: 10px 30px;
  color: black;
}

/* heroSec */

.bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.5;
  z-index: -10;
}

.heading {
  margin-top: 140px;
  max-width: 40%;
}

.heroP {
  max-width: 70%;
}

.heroSecP {
  color: #ffffff;
  font-style: italic;
  text-align: center;
}

.arrow {
  border: 2px solid white;
  border-radius: 100%;
  padding: 15px;
}

/* heroSec */

/* blogSec */

.blogContent {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background-color: rgba(68, 73, 80, 0.2);
  width: 100%;
  z-index: 1;
  height: 50px;
}

.h1White {
  background-color: #ffffff;
  padding: 16px 25px;
}

.h1White .heading3 {
  color: #000000;
}

.blogh3 {
  padding: 25px 25px;
  color: #ffffff;
}

.navIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  position: absolute;
  right: 25px;
  margin: 10px;
}

.navIcon img {
  /* -webkit-filter: invert(100%); safari 6.0 - 9.0 */
  filter: invert(100%);
  width: 18px;
  height: 18px;
}

.blogs {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

/* bigBlog  */

.bigBlog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 70px 0;
}

.date {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  height: 2px;
  width: 200%;
  background-color: #eeeeee;
  position: absolute;
}

.l1 {
  right: -230%;
}

.l2 {
  left: -230%;
}

.bigBlog img {
  width: 80%;
}

.blogDesc {
  text-align: center;
  width: 50%;
  font-style: italic;
}

/* bigBlog  */

/* allBlogs */

.allBlogs {
  display: flex;
  flex-wrap: wrap;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #eeeeee;
  width: 50%;
  gap: 20px;
  padding: 40px 0;
  box-sizing: border-box;
}

.smBlogHeading {
  width: 50%;
}

.blog .heading2 {
  font-size: 28px;
  line-height: 36px;
}

.smImg {
  width: 85%;
}

.smBlogDesc {
  width: 85%;
}

/* allBlogs */

/* page */

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.page {
  border: 2px solid #eeeeee;
  padding: 10px 15px;
}

.fpage {
  background-color: #eeeeee;
}

.dot .heading3 {
  color: #eeeeee;
}

/* page */

/* blogSec */

/* endContainer */

.endContainer {
  background-color: #f5f5f5;
  display: flex;
  width: 100%;
}

.endContainer .heading3 {
  color: #717981;
  line-height: 30px;
}

.endContainer .input {
  border-color: #cfcece;
  border-style: solid;
  line-height: 30px;
}

.endContainer .button {
  width: 35%;
  text-align: center;
  border-color: #717981;
  margin-top: 25px;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 40px;
  gap: 5px;
  box-sizing: border-box;
}

.contactInfo {
  width: 50%;
  height: auto;
  box-sizing: border-box;
}

.social .icon {
  height: 30px;
  width: 30px;
  border: 2px solid #cfcece;
  border-radius: 50%;
}

.social img {
  padding: 8px;
  width: 15px;
  height: 15px;
  filter: invert(48%) sepia(13%) saturate(249%) hue-rotate(169deg)
    brightness(94%) contrast(95%);
}

.borTwo {
  border-left: 2px solid rgb(205, 204, 204);
  border-bottom: 2px solid rgb(205, 204, 204);
  min-height: 25%;
  display: flex;
  gap: 25px;
  box-sizing: border-box;
  line-height: 30px;
  font-size: 12.8px;
  padding: 40px;
  color: #717981;
}

a {
  text-decoration: none;
  color: #717981;
}

textarea {
  width: auto;
  height: 120px;
}

/* endContainer */
